.row {
    color: #fff;              /* White headings */
    margin-left: 20px;
  }
  
  .row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .row_posters::-webkit-scrollbar {
    display: none;          /* dont show scroll bar but keep functionality */
  }
  
  .row_poster {
    object-fit: contain;      /* this keeps the aspect ratio no matter the measurements */
    width: 100%;
    max-height: 100px;
    margin-right: 20px;
    transition: transform 450ms;
  }
  
  .row_poster:hover {
    transform: scale(1.1);
  }
  
  .row_posterLarge {
    max-height: 250px;
    /* margin-right: 20px; */
  }
  
  .row_posterLarge:hover {
    transform: scale(1.11);
  }